@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --primary: #155c28;
  --secondary: #749a77;
  --accent: #edfeee;
  --tertiary: #fffbce;
}

.spinner {
  border-color: var(--primary);
  border-right-color: transparent;
}

.slick-prev:before,
.slick-next:before {
  color: var(--primary);
}

.slick-track {
  display: flex;
  gap: 10px;
}

.primary-button,
.primary-button:first-child:active {
  background: var(--primary);
  border: 1px solid var(--primary);
}

.primary-button:hover {
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.show-more-btn {
  color: var(--primary);
  cursor: pointer;
}

.show-more-btn:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
