@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --primary: #155c28;
  --secondary: #749a77;
  --accent: #edfeee;
  --tertiary: #e6e4d9;
  --primary-rgb: 21, 92, 40;
}

#root {
  height: 100vh;
}

.spinner {
  border-color: var(--primary);
  border-right-color: transparent;
}

.slick-prev:before,
.slick-next:before {
  color: var(--primary);
}

.slick-track {
  display: flex;
  gap: 10px;
}

.primary-button,
.primary-button:first-child:active {
  background: var(--primary);
  border: 1px solid var(--primary);
}

.primary-button:hover {
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.show-more-btn {
  color: var(--primary);
  cursor: pointer;
}

.show-more-btn:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary);
}

.media-banner-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(var(--primary-rgb), 0.7)
  );
  z-index: 1;
}

.episode-tab .nav-tabs {
  border-bottom: 0;
  gap: 2px;
  width: 70%;
  flex-wrap: nowrap;
  overflow: scroll;
  padding: 10px 0;
  background-color: var(--tertiary);
  border-radius: 12px;
  box-sizing: border-box;
  padding: 4px;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.episode-tab .nav-tabs::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.episode-tab .nav-tabs .nav-item {
  width: fit-content;
  box-sizing: border-box;
}

.episode-tab .nav-item .nav-link {
  color: black;
  padding: 8px 16px;
  border-radius: 10px;
  white-space: nowrap;
}

.episode-tab .nav-item .nav-link.active,
.episode-tab .nav-item .nav-link:hover {
  background-color: var(--primary);
  color: white;
}

.episode-tab-content {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 12px;

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
